@font-face {
  font-family: 'SFPro';
  src: url('./assets/Fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'SFPro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  --bs-body-font-family: 'SFPro', sans-serif;
  --bs-body-bg: transparent;
  letter-spacing: .022em;
  font-weight: 600;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
}

.text-link {
  cursor: pointer;
}